# SPDX-License-Identifier: GPL-2.0-only
# Asus configuration options

config MACH_ASUS
	bool "Asus device"
	help
	  Support for Asus products

config ASUS_HWID
	tristate "ASUS hardware id driver"
	depends on MACH_ASUS_PICASSO
	help
	  Support the Picasso hardware identifier interface.

menu "Asus board selection"

config MACH_ASUS_SAKE
	bool "SAKE board"
	select MACH_ASUS
	help
	  Support for Sake

config MACH_ASUS_VODKA
	bool "VODKA board"
	select MACH_ASUS
	help
	  Support for Vodka
config ASUS_PICASSO_QTI_EMBEDDED
	bool "PICASSO bool config"
	help
	  Support for Picasso on GKI driver

config ASUS_PICASSO_GKI
	bool "PICASSO bool config"
	help
	  Picasso module for GKI

config MACH_ASUS_PICASSO
	bool "PICASSO board"
	depends on ARCH_LAHAINA
	select MACH_ASUS
	select ASUS_PICASSO_QTI_EMBEDDED
	help
	  Support for Picasso

endmenu
